---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

const birthDate = new Date("1998-11-10");
const today = new Date();
let age = today.getFullYear() - birthDate.getFullYear();
const hasHadBirthday =
  today.getMonth() > birthDate.getMonth() ||
  (today.getMonth() === birthDate.getMonth() && today.getDate() >= birthDate.getDate());
if (!hasHadBirthday) age--;
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
  I'm a {age}-year-old Computer Engineer from UNLP. I have strong technical experience in digital electronics system design, software development, and safety engineering (with training in ARENA). I also hold a Master's degree in Big Data, with a focus on Data Mining, Machine Learning, and Deep Learning.
  <br>
  <br>
  Currently, I lead an interpretability project at the III-LIDI research lab at UNLP, and I'm also supervising a bachelor's thesis while providing consulting support to bachelor's and master's students on their own projects.
  <br>
  <br>
  I have a deep interest in AI systems, especially in areas such as LLMs, control and alignment, scaling oversight, and reasoning. My goal is to use technology responsibly to support humanity, building systems that meet real human needs, embrace mindfulness, and help others grow, driven by the idea that technology can genuinely help people.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD in Computer Science"
      subtitle="Apr. 2023 - Present at Universidad Nacional de La Plata & Universitat Rovira i Virgili"
    />
    <TimeLineElement
      title="Master's in Data Intelligence oriented to Big Data"
      subtitle="Mar. 2024 - Aug. 2025 at Universidad Nacional de La Plata, GPA: 10.0"
    />
    <TimeLineElement
      title="Bachelor's in Computer Engineering"
      subtitle="Mar. 2017 - Mar. 2023 at Universidad Nacional de La Plata, GPA: 8.20"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Reviewer (Top-tier Conferences & Q1 Journals)"
      subtitle="Apr. 2025 - Present"
    >
      ICML, CVPR, and NeurIPS workshops, as well as for Neural Computing and Applications.
    </TimeLineElement>
    <TimeLineElement
      title="Assistant Professor"
      subtitle="May. 2024 - Present at Universidad de Buenos Aires"
    >
    Course "Neural Networks", Master's program in Data Mining & Knowledge Discovery.
    </TimeLineElement>
    <TimeLineElement
      title="Doctoral Intern"
      subtitle="Sep. 2023 - Present at CONICET"
    >
    Researching the interpretability of DNNs for Computer Vision, focusing on explaining models used for Sign Language Translation, Diabetic Retinopathy, and Breast Cancer detection, at III-LIDI and DEIM.
    </TimeLineElement>
    <TimeLineElement
      title="Teaching Assistant"
      subtitle="Aug. 2018 - Present at Universidad Nacional de La Plata"
    >
    Course "Software Engineering I & II (SI202, SI302)", Computer Science undergraduate program.
    </TimeLineElement>
    <!-- <TimeLineElement
      title="Intern"
      subtitle="Dec. 2022 - Jun. 2023 at INVAP"
    >
    Design and implementation of an instrument simulator for the Argentine Satellite Data Collection System (DCS), which will be utilized by the SABIA-Mar satellite constellation operated by CONAE and INVAP.
    </TimeLineElement> -->
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul> -->
</BaseLayout>
