---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a 24-year-old Computer Engineer graduated from UNLP, with advanced knowledge in digital electronics system design and software development. My interests lie in delving into topics such as Data Mining, Machine Learning, and Deep Learning.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ph.D. in Computer Science"
      subtitle="Apr. 2023 - Present at Universidad Nacional de La Plata"
    />
    <TimeLineElement
      title="Bachelor's in Computer Engineering"
      subtitle="Mar. 2017 - Mar. 2023 at Universidad Nacional de La Plata, GPA: 8.17"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Doctoral Fellow"
      subtitle="Sept. 2023 - Present at CONICET"
    >
    I’m currently a CONICET Doctoral Fellow (formerly UNLP) at the III-LIDI lab of the Facultad de Informática (CIC - UNLP), pursuing a PhD in Computer Science with a focus on Artificial Intelligence. My work involves the design and implementation of algorithms for interpreting deep neural network models for computer vision. Specifically, I’m working on explaining models that address the problem of detecting diabetic retinopathy in retinal images, in collaboration with Universitat Rovira i Virgili.
    </TimeLineElement>
    <TimeLineElement
      title="Teaching Assistant"
      subtitle="Aug. 2018 - Present at Facultad de Informática (UNLP)"
    >
    Responsible for assisting students with their inquiries and overseeing exam corrections in undergraduate course like "Software Engineering II (SI302)", "Software Engineering I (SI202)", "Ethical, Social, and Advanced Professional Aspects of Informatics (SI505)", and the elective course "Deep Learning".
    Previously taught courses such as "Programming Workshop (SI107)", "Concepts of Algorithms, Data, and Programs (SI106)", "Introduction to Informatics (CUNI2)", and "Problem Expression and Algorithms (CNE)".
    </TimeLineElement>
    <TimeLineElement
      title="Intern"
      subtitle="Dec. 2022 - Jun. 2023 at GriDComD"
    >
    I was part of a team that designed and implemented a simulator for the Argentine Satellite System for Environmental Data Collection (DCS). This system will be used by the SABIA-Mar satellite constellation from CONAE and INVAP.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> 

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul> -->
</BaseLayout>
