---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <!-- <div class="text-xl py-1">Hey there 👋</div> -->
    <div class="text-5xl font-bold">Oscar Stanchi</div>
    <div class="text-3xl py-3 font-bold">Computer Engineer and PhD Candidate</div>
    <div class="py-2">
      <text class="text-lg">
        I'm currently pursuing a PhD in Computer Science at the <a href="https://unlp.edu.ar/">Universidad Nacional de La Plata (UNLP)</a> with a fellowship from CONICET. My research focuses on the <b>interpretability</b> of deep neural networks in computer vision, and I primarily work with PyTorch and Captum.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        I teach Software Engineering I and II at the <a href="https://www.info.unlp.edu.ar/" class="text-blue-500 underline hover:text-blue-700">Facultad de Informática (UNLP)</a>, where I also regularly cover topics in Deep Learning, emphasizing its ethical and social implications.
      </text>
    </div>    
    <!-- <div class="py-2">
      <text class="text-lg">
        In addition to my research, I have experience programming in C for embedded systems (microcontrollers) and with parallelism libraries such as Pthreads, OpenMP, and OpenMPI. I'm also proficient in MATLAB and have a passion for digital electronics and satellite telecommunications.
      </text>
    </div> 
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/oscar-agustin-stanchi/" target="_blank"> Let's connect!</a>
    </div> -->
  
    <div class="mt-8 flex justify-between items-center w-full">
      <img src="/lidi.png" alt="LIDI" class="h-16" />
      <img src="/info.png" alt="INFO" class="h-16" />
      <img src="/unlp.png" alt="UNLP" class="h-16" />
      <img src="/conicet.png" alt="CONICET" class="h-16" />
    </div>
  </div>  

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Publications</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
